.card{
    background-color: #18181A;
    color:white;
    height: 170px;
    width: 100%;
    border-radius: 10px;
    margin: auto;
}

.image{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    scale: 98%;
}